body {
    background-color: #C14040;
    font-family: 'Bree Serif', serif;
    margin: 0px;
    width: 100vw;
    min-height: 100vh;
}
a {
    text-decoration: none !important;
}
/*Header part*/
header {
    background-color: #EFE3E3;
    height: 30px;
    padding: 20px;
    margin: 20px;
    border-radius: 23px;
}
nav {
    display: flex;
    justify-content: space-between;
    
}
.a-header {
    color: #C14040;    
    font-size: 1.5em;
}
.a-header-home {
    color: #C14040;
    font-size: 2em;
}
.header-nav {
    width: 138px;
    display: flex;
    justify-content: space-between;
}
/*Main part*/
main {
    padding: 55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
img {
    width: 80%;
}
.thumbnail {
    background-color: #982C2C;
    margin-bottom: 50px;
    width: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
span {
    text-align: center;
    margin: 15px;
    font-size: 1.2em;
    color: #EFE3E3;

}
/*Types page*/
.link-type {
    color: white;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    padding: 8px;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}
/*Details page*/
h1 {
    font-size: 2em;
    color: #EFE3E3;
    text-align: center;
}
.row--details {
    display: flex;
    width: 80%;
}

.row--details img {
    padding: 1%;
    flex: 2;
}

.row--details div.details {
    background-color: #aa3738;
    flex: 3;
    margin:3%;
    border-radius: 15px;
    text-align: left;
    padding: 0 25px;
}
.details .name {
    font-size: 25px;
    margin: 25px 0;
}

.details .caption--stats {
    font-size: 20px;
    margin: 25px 0;
}

.stats  {
    display: flex;
    margin: 5px 0;
}


.stats .stats-name {
    flex: 3;
}

.stats .stats-number {
    flex :1;
}

.stats .stats-base {
    flex: 4;
    background-color: #632b2a;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
} 

.stats .stats-base .stats-percent {
    background-color: white;
    height: 100%;
} 
.list-link {
    color: #EFE3E3;
}
.details .types .type {
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
} 