<%- include('header') %>

    <% for (let type of types) { %>
        <a href="/" class="link-type" style="background-color: #<%= type.color %>;">
            <%= type.name %>
        </a>
    <% } %>

<%- include('footer') %>